@import url(./__list/photo-grid__list.css);
@import url(./__item/photo-grid__item.css);

.photo-grid {
  padding: 0 48px 92px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 0 16px 64px;
  }
}
