.place__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 24px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    padding: 0 16px;
  }
}

