.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  padding: 0 148px 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: calc(100% - 48px);
    padding: 0 24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px 64px;
  }
}
