.cover__overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  color: #ffffff;
  min-height: 740px;
  z-index: 1;
}

.cover__overlay::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.2s ease-in-out;
  z-index: -1;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1279px){
  .cover__overlay {
    min-height: 640px;
  }
}

  @media screen and (max-width: 1023px){
  .cover__overlay {
    min-height: 480px;
  }
}

  @media screen and (max-width: 767px){
  .cover__overlay {
    min-height: 200px;
  }
}
