@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__website-url-heading/place__website-url-heading.css);
@import url(./__website-link/place__website-link.css);
@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, max-content));
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: auto;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}
