.header__lang-links {
  list-style-type: none;
  display: flex;
  column-gap: 18px;
  margin: 0;
  padding-left: 0;
  padding-top: 14px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 18px;
  }
}
